
<!-- Header -->
<header id="header">
  <div>Snapshot <span>by TEMPLATED</span></div>
</header>

<!-- Section -->


<!-- Contact -->
<section id="contact">
  <!-- Social -->
    <div class="social column">
      <h3>Collections</h3>
      <p>Create a collection of cards to keep your studying organized! Group cards by type so you can study subject by subject!</p>
    </div>

  <!-- Form -->
    <div class="column">
      <h3>Create a collection</h3>
      <form action="#" method="post">
        <div class="field half first">
          <label for="front">Front</label>
          <input name="front" id="front" type="text" placeholder="oubliette">
        </div>
        <div class="field half">
          <label for="back">Back</label>
          <input name="back" id="back" type="text" placeholder="a secret dungeon with an opening only in the ceiling, as in certain old castles.">
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="6" placeholder="810–20; <French, Middle French, equivalent to oubli(er) to forget, Old French oblider<Vulgar Latin *oblītāre, derivative of Latin oblītus (past participle of oblīvīscī to forget; see oblivion) + Middle French -ette-ette"></textarea>
        </div>
        <ul class="actions">
          <li><input value="Send Message" class="button" type="submit"></li>
        </ul>
      </form>
    </div>

</section>