<section id="banner">
  <div class="inner">
    <h1>Sign Up</h1>
    
    <form action="/signup" method="post">
      <div class="field half first">
        <label for="name">Username</label>
        <input name="user[username]" id="name" type="text" style="color:black">
      </div>
      <div class="field half">
        <label for="email">Password</label>
        <input name="user[password]" id="password" type="password" style="color:black">
      </div>
      <ul class="actions">
        <li><input value="Sign Up" class="button" type="submit"></li>
      </ul>
      Already have an account? <a href="/signin"><u>Sign In</u></a>
    </form>

  </div>
</section>