<section id="banner">
  <div class="inner">
    <h1>Sign In</h1>
    
    <form action="/signin" method="post">
      <div class="field half first">
        <label for="name">Username</label>
        <input name="user[username]" id="name" type="text">
      </div>
      <div class="field half">
        <label for="email">Password</label>
        <input name="user[password]" id="password" type="password">
      </div>
      <ul class="actions">
        <li><input value="Sign In" class="button" type="submit"></li>
      </ul>
      Don't have an account? <a href="/signup"><u>Sign Up</u></a>
    </form>

  </div>
</section>