<section id="banner">
							<div class="inner">
								<h1>Hey, I'm Snapshot</h1>
								<ul class="actions">
									<li><a href="#galleries" class="button alt scrolly big">Continue</a></li>
								</ul>
							</div>
						</section>

            	<footer id="footer">

							<div class="copyright">
              									<%%>
							</div>
						</footer>